@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Chakra+Petch:ital,wght@1,700&family=Lilita+One&family=MuseoModerno:wght@600&family=Rubik:ital,wght@0,500;0,600;0,700;0,900;1,500;1,600;1,700;1,800;1,900&family=Space+Mono&family=Ubuntu:ital,wght@0,700;1,700&display=swap');

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Archivo Black', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Chakra Petch', sans-serif;
  font-family: 'Lilita One', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Rubik', sans-serif;
  font-family: 'Space Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

/* Add these classes to your Tailwind CSS setup */
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }

  50% {
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.7);
  }

  100% {
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
  }
}

/* Add this class to your Tailwind CSS setup */
.text-glow-red:hover {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
}

.profile {
  box-shadow: 10px 10px 5px 0px #DCC4A0;
  -webkit-box-shadow: 10px 10px 5px 0px #DCC4A0;
  -moz-box-shadow: 10px 10px 5px 0px #DCC4A0;
}

/* Add this class to your CSS file */
.text-glow:hover {
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.7);
  transition: text-shadow 0.3s ease-in-out;
}


.profile {
  box-shadow: 4px 4px 12px -4px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 4px 4px 12px -4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 4px 4px 12px -4px rgba(255, 255, 255, 0.75);
}

.profile-frame {
  box-shadow: 2px 2px 11px -4px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 2px 2px 11px -4px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 2px 2px 11px -4px rgba(255, 255, 255, 0.75);
}

.navbar {
  background-color: #15181E;
  /* /* box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out;
 */
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
}

.icon:hover {
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.75);
}